. filter=lfs diff=lfs merge=lfs -text
chapter3/multimnist.png filter=lfs diff=lfs merge=lfs -text
chapter3/variance-fixed-epsilon.png filter=lfs diff=lfs merge=lfs -text
chapter3/variance.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/fashionmnist.png filter=lfs diff=lfs merge=lfs -text
chapter3/modelv5.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/modelv2.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/modelv3.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/colorization.png filter=lfs diff=lfs merge=lfs -text
chapter3/fill_in_blank.png filter=lfs diff=lfs merge=lfs -text
chapter3/mnists.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/sample_celeba_eq_Male.png filter=lfs diff=lfs merge=lfs -text
chapter3/translation.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/variance.png filter=lfs diff=lfs merge=lfs -text
chapter3/vision1_small.png filter=lfs diff=lfs merge=lfs -text
chapter3/celeba19.png filter=lfs diff=lfs merge=lfs -text
chapter3/celeba19random.png filter=lfs diff=lfs merge=lfs -text
chapter3/multi.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/variance-fixed-epsilon.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/celeba19marginal.png filter=lfs diff=lfs merge=lfs -text
chapter3/graph.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/joint_proba.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/sample_mnist.png filter=lfs diff=lfs merge=lfs -text
chapter3/sample_multi_mnist_eq_1773.png filter=lfs diff=lfs merge=lfs -text
chapter3/variance-both.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/celeba19conditional.png filter=lfs diff=lfs merge=lfs -text
chapter3/celeba19joint.png filter=lfs diff=lfs merge=lfs -text
chapter3/legend.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/sample_celeba.png filter=lfs diff=lfs merge=lfs -text
chapter3/sample_fashion_mnist_eq_9.png filter=lfs diff=lfs merge=lfs -text
chapter3/watermark.png filter=lfs diff=lfs merge=lfs -text
chapter3/weaksup filter=lfs diff=lfs merge=lfs -text
chapter3/celeba.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/fashion.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/mtest filter=lfs diff=lfs merge=lfs -text
chapter3/recon_edge_face.png filter=lfs diff=lfs merge=lfs -text
chapter3/sample_multi_mnist.png filter=lfs diff=lfs merge=lfs -text
chapter3/joint_proba.png filter=lfs diff=lfs merge=lfs -text
chapter3/modelv4.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/sample_fashion_mnist.png filter=lfs diff=lfs merge=lfs -text
chapter3/sample_mnist_eq_5.png filter=lfs diff=lfs merge=lfs -text
chapter3/vision filter=lfs diff=lfs merge=lfs -text
chapter3/vision1.png filter=lfs diff=lfs merge=lfs -text
chapter3/mnist.pdf filter=lfs diff=lfs merge=lfs -text
chapter3/mnist.png filter=lfs diff=lfs merge=lfs -text
chapter4/algo-antivae.png filter=lfs diff=lfs merge=lfs -text
chapter4/algo-marsaglia.png filter=lfs diff=lfs merge=lfs -text
chapter4/backprop2_effect.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/backprop_effect.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/demo10sample.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/demo20sample.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/demo4sample.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/z_effect.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/vae_trajectory.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/algo-antithetic.png filter=lfs diff=lfs merge=lfs -text
chapter4/dynamic_mnist_main_result.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/histopathology_main_result.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/moment_match_skematic.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/omniglot_main_result.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/skematic1.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/static_mnist_main_result.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/caltech_main_result.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/demo50sample.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/sample_effect.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/skematic3.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/skematic2.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/demo8sample.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/demo_legend.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/elbo_legend.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/fashion_mnist_main_result.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/matchae_trajectory.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/algo_pic.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/backprop_analysis.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/demo6sample.pdf filter=lfs diff=lfs merge=lfs -text
chapter4/freyfaces_main_result.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/compiled.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/generalization_schemes.png filter=lfs diff=lfs merge=lfs -text
chapter5/3dshapes_object_hue.png filter=lfs diff=lfs merge=lfs -text
chapter5/laplace_mean.png filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_3_7_clustering.png filter=lfs diff=lfs merge=lfs -text
chapter5/exponential_exapmle_bad.png filter=lfs diff=lfs merge=lfs -text
chapter5/exponential_exapmle_good.png filter=lfs diff=lfs merge=lfs -text
chapter5/intuitive_physics.png filter=lfs diff=lfs merge=lfs -text
chapter5/legend.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/mixed_lognormal_timeseries_plot.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/results.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_10_20_elbo.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/weak_gen_clustering_err_vae_baseline_0_6.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/exponential_timeseries_plot.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/mnist filter=lfs diff=lfs merge=lfs -text
chapter5/norb_lighting.png filter=lfs diff=lfs merge=lfs -text
chapter5/test_log_likelihood_20percent.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/lognormal_timeseries_plot.png filter=lfs diff=lfs merge=lfs -text
chapter5/mixed_lognormal_timeseries_plot.png filter=lfs diff=lfs merge=lfs -text
chapter5/plane1.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/strong_gen_clustering_err_vae_baseline.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/toy_gaussian filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_10_20_elbo.png filter=lfs diff=lfs merge=lfs -text
chapter5/3dshapes_scale.png filter=lfs diff=lfs merge=lfs -text
chapter5/gaussian_timeseries_plot.png filter=lfs diff=lfs merge=lfs -text
chapter5/mnist_size.png filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_10_20_clustering.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/gaussian_only_out_of_sample_set_mu.png filter=lfs diff=lfs merge=lfs -text
chapter5/generalization_schemes-compressed.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/norb_elevation.png filter=lfs diff=lfs merge=lfs -text
chapter5/split_disjoint.png filter=lfs diff=lfs merge=lfs -text
chapter5/gaussian_only_training_set_mu.png filter=lfs diff=lfs merge=lfs -text
chapter5/legend_kristy.png filter=lfs diff=lfs merge=lfs -text
chapter5/lognormal_timeseries_plot.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/weak_gen_clustering_err_vae_baseline_1_6.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/3dshapes_orient.png filter=lfs diff=lfs merge=lfs -text
chapter5/legend_fig4.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/norb_azimuth.png filter=lfs diff=lfs merge=lfs -text
chapter5/split_interleaved.png filter=lfs diff=lfs merge=lfs -text
chapter5/test_log_likelihood_10percent.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_metadist_elbo.png filter=lfs diff=lfs merge=lfs -text
chapter5/weak_gen_clustering_err_vae_baseline_4_9.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/legend.png filter=lfs diff=lfs merge=lfs -text
chapter5/lognormal_exapmle_good.png filter=lfs diff=lfs merge=lfs -text
chapter5/mixed_exponential_timeseries_plot.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/mixed_gaussian_timeseries_plot.png filter=lfs diff=lfs merge=lfs -text
chapter5/plane2.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_10_20_clustering.png filter=lfs diff=lfs merge=lfs -text
chapter5/weibull.png filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_metadist_clustering.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/beta.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/exponential_timeseries_plot.png filter=lfs diff=lfs merge=lfs -text
chapter5/gaussian_only_test_set_mu.png filter=lfs diff=lfs merge=lfs -text
chapter5/gaussian_timeseries_plot.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/mixed_gaussian_timeseries_plot.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/mixtures filter=lfs diff=lfs merge=lfs -text
chapter5/test_log_likelihood_1percent.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_metadist_clustering.png filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_metadist_elbo.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/weibull.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/beta.png filter=lfs diff=lfs merge=lfs -text
chapter5/datasets.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/datasets_subset.png filter=lfs diff=lfs merge=lfs -text
chapter5/mnist_shear.png filter=lfs diff=lfs merge=lfs -text
chapter5/weak_gen_clustering_err_vae_baseline_2_8.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/generalization_schemes.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/laplace_scale.png filter=lfs diff=lfs merge=lfs -text
chapter5/test_log_likelihood_5percent.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_3_7_elbo.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_3_7_elbo.png filter=lfs diff=lfs merge=lfs -text
chapter5/lognormal_exapmle_bad.png filter=lfs diff=lfs merge=lfs -text
chapter5/unseen_3_7_clustering.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/mixed_exponential_timeseries_plot.png filter=lfs diff=lfs merge=lfs -text
chapter5/mnist_rotation.png filter=lfs diff=lfs merge=lfs -text
chapter5/split_sparse.png filter=lfs diff=lfs merge=lfs -text
chapter5/strong_gen_log_likelihood.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/chi_squared.png filter=lfs diff=lfs merge=lfs -text
chapter5/laplace_scale.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/legend_kristy.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/model_image.pdf filter=lfs diff=lfs merge=lfs -text
chapter5/planes.pdf filter=lfs diff=lfs merge=lfs -text
chapter6/mask_examples.png filter=lfs diff=lfs merge=lfs -text
chapter6/mask_process.png filter=lfs diff=lfs merge=lfs -text
chapter6/mh filter=lfs diff=lfs merge=lfs -text
chapter6/plate_toy.pdf filter=lfs diff=lfs merge=lfs -text
chapter6/vliw_hist.pdf filter=lfs diff=lfs merge=lfs -text
chapter6/vliw_hist_no_mlm.pdf filter=lfs diff=lfs merge=lfs -text
chapter6/graph filter=lfs diff=lfs merge=lfs -text
chapter6/heatmap filter=lfs diff=lfs merge=lfs -text
chapter6/overview.png filter=lfs diff=lfs merge=lfs -text
chapter6/plating_process.png filter=lfs diff=lfs merge=lfs -text
chapter6/stan filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_missing_acc_bar.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_nonlinear_acc.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/surfaces filter=lfs diff=lfs merge=lfs -text
chapter7/ideal filter=lfs diff=lfs merge=lfs -text
chapter7/icc.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_logsec_bar.png filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_missing_acc.png filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_missing_acc_bar.png filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_time_plot.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/hmc_vi_viperp.png filter=lfs diff=lfs merge=lfs -text
chapter7/posterior_predictives filter=lfs diff=lfs merge=lfs -text
chapter7/ppt_realworld_cost.png filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_vary_dim_acc.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_vary_dim_acc.png filter=lfs diff=lfs merge=lfs -text
chapter7/excel filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_nonlinear_loglike.png filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_vary_dim_corr.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/epoch.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/all_timss.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/irt_1pl.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/legend2.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_logsec.png filter=lfs diff=lfs merge=lfs -text
chapter7/residual filter=lfs diff=lfs merge=lfs -text
chapter7/all_results.png filter=lfs diff=lfs merge=lfs -text
chapter7/legend1.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/ppt_realworld_cost.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_logsec_bar.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_nonlinear_acc_bar.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_nonlinear_loglike_bar.png filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_correlation.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_vary_dim.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/irt_2pl.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/dimensions filter=lfs diff=lfs merge=lfs -text
chapter7/hmc_vi_viperp.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/irt_3pl.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_logsec.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_nonlinear_acc.png filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_nonlinear_acc_bar.png filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_nonlinear_loglike.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/accuracyVsTime.png filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_vary_item_acc.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/three_2d_timess.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/three_timss.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/three_timss.png filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_vary_dim_corr.png filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_nonlinear_loglike_bar.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_missing_data.pdf filter=lfs diff=lfs merge=lfs -text
chapter7/synthetic_time_plot.png filter=lfs diff=lfs merge=lfs -text
chapter7/realworld_missing_acc.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/overview.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/dataset3.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/grading.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/grammar filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_edit_dist.png filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_examples_2.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_num_uniques.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/highlight.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/human_exp.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/citizenship13_examples.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/code_org_bar.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/datasets.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/datasets2.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/good.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/grading_ui.png filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_examples_1.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_legend.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_prob.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/citizenship_samples.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/datasets_2.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/gg_liftoff.png filter=lfs diff=lfs merge=lfs -text
chapter8/grading_ui_full.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/make_better.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/architecture.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/architecture_2.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/codeorg9_zipf.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/idea2text.png filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_legend2.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/citizenship13_zipf.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/codeorg_examples.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_good_turing.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_good_turing5.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_zipf.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/bad.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/datasets3.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/token_edit_k_1.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/codeorg1_zipf.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/gg_pyramid.png filter=lfs diff=lfs merge=lfs -text
chapter8/grading_ui_full.png filter=lfs diff=lfs merge=lfs -text
chapter8/liftoff_utility.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/pyramid_zipf.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/results_cropped.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/chain.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/grader_variance.png filter=lfs diff=lfs merge=lfs -text
chapter8/grading_ui5.pdf filter=lfs diff=lfs merge=lfs -text
chapter8/i2texample.pdf filter=lfs diff=lfs merge=lfs -text
